*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

}

.body{
  background-image: url('./PAGE\ 1.svg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  /* background-size: calc(100% - 100px); */
  background-size: 100% 100%;
  /* background-position: center center; */
 
}
.illustration{
  background-image: url('./people.svg');
  height: 55%;
  width: 30%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border:1px solid red;
  margin-top: 8rem;
  margin-right: 5rem;
}
.main_container{
display: flex;
justify-content: space-between;
height:80vh;
border:1px solid red;

}

.form{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border:1px solid red;
  width:40%;
  margin-left: 2rem;

}
 span{
    font-size: 3rem;
    color:#7870FF;
    font-weight: 600;
    margin-top:1rem ;
  }

  .tags{
    margin-top:1rem ;
    border:1px solid red;
    display: flex;
    justify-content: space-around;
  }
  .text{
    font-size: 2.5rem;
    color:
    #003FB9;
    font-weight: 600;
margin-left: 1rem;
  }
  .input{
    border:1px solid red;
height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-left: 2rem;
  }
  input{
  outline:none;
  border:none;
  height: 3rem;
  box-shadow: 0.2rem 0.2rem 0.1rem inset rgba(0, 0, 0, 0.25);
font-size: 1.2rem;
color: #000000;
padding: 0rem 0.5rem;
border-radius: 0.4rem;
  }
  button{
    background-color: 
    #FF6363;
    color: white;
    height: 3rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    width: 70%;
  }
  @media  screen and (max-width:430px) {
    .main_container{
      flex-direction: column-reverse;
      align-items: center;
    }
    .body{
      background: url();
    }
    
    html{
      font-size: 10px;
    }
    .form{
      width: 30%;
    }
    .main_container{
      /* height: 0; */
    }
  }