*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

}

.body{
  background-image: url('./PAGE\ 1.svg');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  /* background-size: calc(100% - 100px); */
  background-size: 100% 100%;
  /* background-position: center center; */
 
}
.illustration{
  background-image: url('./error.svg');
  height: 80vh;
  width: 60%;
  background-size: 100% 100%;
  /* background-size: contain; */
    background-repeat: no-repeat;
  /* border:1px solid red; */
  margin-top: 4rem;
  margin-right: 3rem;
}
.main_container{
display: flex;
justify-content: space-between;
height:80vh;
/* border:1px solid red; */
}
.form{
  display: flex;
  /* justify-content: space-arou; */
  flex-direction: column;
  /* border:1px solid red; */
  width:40%;
  margin-left: 2rem;
  margin-top: 2rem;

}


 span{
    font-size: 3rem;
    color:#7870FF;
    font-weight: 600;
    margin-top:1rem ;
  }

  .tags{
    margin-top:1rem ;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-around;
  }
  .text{
    font-size: 3rem;
    color:
    #FF6363;
    font-weight: 600;
margin-left: 3rem;
margin-top: 7rem;
  }
  @media  screen and (max-width:430px) {
    .main_container{
      flex-direction: column-reverse;
      align-items: center;
    }
    .body{
    background: url('./mobile-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
    }
    
    html{
      font-size: 10px;
    }
    .form{
      width: 30%;
    }
    .main_container{
      /* height: 0; */
    }
  }